@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #2c3a66;
  margin: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

header {
  height: 100px;
  width: 100%;
}
header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-right: 70%;
  padding: 10px;
  background-color: #9996db;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 11px 3px rgba(0, 0, 0, 0.75);
}
header .navbar img {
  width: 60px;
  height: 60px;
}
header .navbar h2 {
  cursor: pointer;
  position: relative;
  color: #d6d6d6;
}
header .navbar h2::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #2c3a66;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
header .navbar h2:hover::after {
  width: 105%;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
  gap: 50px;
}
footer .topFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer .topFooter .fa {
  font-size: 30px;
  text-decoration: none;
  width: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
}
footer .topFooter .fa-facebook {
  background: #0866ff;
  color: white;
}
footer .topFooter .fa-twitter {
  background: #08a0e9;
  color: white;
}
footer .topFooter .fa-instagram {
  background: #8134af;
  color: white;
}
footer .topFooter .fa-reddit {
  background: #ff4500;
  color: white;
}
footer .bottomFooter {
  font-size: 12px;
  font-weight: 500;
  color: #d6d6d6;
}

.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  gap: 250px;
}
.sign-up .left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sign-up img {
  object-fit: cover;
}
.sign-up .image-wrapper {
  display: flex;
  height: 165px;
  width: 300px;
  overflow: hidden;
}
.sign-up #sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.sign-up .label-wrapper {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
}
.sign-up .form-label {
  display: inline-block;
  min-width: 50%;
  color: white;
  margin: 0 auto;
}
.sign-up .form-input {
  display: inline-block;
  padding: 0.4rem 0.4rem;
  border: 1px solid gray;
  width: 45%;
  margin: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}
.sign-up button {
  display: flex;
  padding: 0.6rem 0.8rem;
  background-color: #9996db;
  color: whitesmoke;
  border-radius: 0.2rem;
  border: none;
  max-width: 10rem;
  justify-content: center;
}
.sign-up button {
  align-self: end;
  margin-top: 10px;
}
.sign-up label {
  display: inline-block;
  color: white;
  width: 10rem;
}
.sign-up .form-input {
  display: inline-block;
  width: 200px;
  padding: 7px;
  border: none;
}
.sign-up button {
  display: flex;
  float: right;
  padding: 0.6rem 0.8rem;
  background-color: #9996db;
  color: #2c3a66;
  border-radius: 0.2rem;
  font-size: large;
  border: none;
  width: 120px;
}

.whatsOnBody {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
.whatsOnBody .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.whatsOnBody .grid-container .NowShowing {
  grid-column: 3;
  grid-row: 1;
}
.whatsOnBody .grid-container .OpeningTimes {
  grid-column: 1;
  grid-row: 2;
}
.whatsOnBody .grid-container .OpeningTimesImage {
  grid-column: 2/4;
  grid-row: 2;
}

/*# sourceMappingURL=styles.css.map */
